<!DOCTYPE>
<html>
	<head>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="registration.css"> 

		<title>ToDo list</title>
		
	</head>
	
	<body ng-app="YOUR_APP" ng-controller="MainCtrl"> <div class="container" >
		<h1>Registration</h1>

					<table class="table">
						<thead></thead>
						<tbody>
							<tr>
								<th>Name<input class="form-control" ng-model="ruser.name" ></th>
							</tr>
							<tr>
								<th>UserName<input class="form-control" ng-model="ruser.username" ></th>
							</tr>
							<tr>
								<th>Password<input class="form-control" ng-model="ruser.password" ></th>
							</tr>
							<tr>
								<th><button class="btn btn-primary" ng-click="Register()">Register</button><div id="em"></div></th><th></th>
							</tr>
						</tbody>

					</table>
					
		</div>
		
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.7/angular-md5.min.js"></script>

<script src="controlers/registration.js"></script>


	</body>

</html>