<!DOCTYPE>
<html ng-app>
	<head>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

 <link rel="stylesheet" href="todo.css"> 

		<title>ToDo list</title>

	</head>
	<body> <div class="container" ng-controller ="AppCtrl">
		<h1>ToDo list</h1>

		<table class="table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Date</th>
					<th>TODO</th>
				    <th>Tags</th>
					<th>Action</th>
					<th>&nbsp;</th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;</td>
				    <td>&nbsp;</td>
					<td><input class="form-control" ng-model="todo.name"></td>
					<td>
						<select name="tags" class="form-control" ng-model="todo.tag">
  						<option  value="General">General</option>
  						<option  value="Home">Home</option>
  						<option  value="Work">Work</option>	
						</select>
					</td>
	
					<td><button class="btn btn-primary" ng-click="addTodo()">ADD</button></td>
					<td><button class="btn btn-info" ng-click="update()">Update</button></td>
				</tr>

				<tr ng-repeat="todo in todolist| filter:searchname | filter:checked ">
					<td><input type="checkbox"  ng-model="todo.completed" ng-click="check(todo._id)" ></td>
					<td>{{todo.date | date:'dd/MM/yyyy'}}</td>
					<td class={{todo.completed}}>{{todo.name}}</td>
					<th>{{todo.tag}}</th> 
			    	<td><button class= "btn btn-warning" ng-click="edit(todo._id)">Edit</button></td>
					<td><button class="btn btn-danger" ng-click="remove(todo._id)">Remove</button></td>
					<td><button class="btn btn-success" ng-click="share(todo._id)">Share</button></td>
				</tr> 	

				<tr>
				<td>&nbsp;</td><th>SEARCH</th>
				<td><input type="text" class="form-control" ng-model="searchname"></td>
				<td>
						<select class="form-control" ng-model="checked">
  						<option value="">All</option>
  						<option value="finished">Completed</option>
  						<option value="activated">Active</option>
  						
						</select></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<th>SHARE</th>
					<td><input type="text" class="form-control" ng-model="forshare"></td><th>With</th>
					<td>
						<select  name="sharing" class="form-control" ng-model="forshareuser">
  						<option ng-repeat="user in userlist" value={{user.username}}>{{user.username}}</option>
  						</select>
  					</td>
  					<td><button class="btn btn-primary" ng-click="confirm(todo._id)">Confirm</button></td>
				</tr>				
			</tbody>
		</table>
		
		<h3><a href="index.html">LOGOUT</a></h3>
	
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<script src="controlers/todo.js"></script>


	</body>

</html>